[{"name":"Jonathan","number":"+14165551234","status":"running","frequency":"monthly","scheduleId":0,"imageIndex":3},{"name":"Laval","number":"+14165552345","status":"stopped","frequency":"monthly","scheduleId":0,"imageIndex":0}]
