<html>
<head>

</head>
<body>
  <h1>Sign up for Death.ly</h1>

  <img src="https://media1.giphy.com/media/h5NLPVn3rg0Rq/giphy.gif" />

  <form action="http://localhost:8080/register" method="POST">
    Name: <input type="text" name="name"/>
    Phone Number: <input type="text" name="phone_number"/>
    <button>Sign Up</button>

  </form>

</body>
</html>
